<h1>All drills</h1>

<div class="all-drills">
	<% @drill.each do |drill| %>
	<div class="drill">
		<%= drill.description %>
		<br>
		<%= link_to "Add to my Drills"%>
		<br>
	</div>
	<% end %>
</div>

