
<div class="welcome-bg"/>
<div class="caption text-center">
    <h1 class="heading">Welcome to Codecore Drillz</h1>
    <h2>Try our free courses now</h2>
    <!-- <h3>Learn by Doing <br> Try now our free course</h3> -->

    <%#= link_to "Enter", homes_path, class: "btn btn-default btn-cta fa fa-chevron-right" %>
    <div>
      <br><br>
    </div>
    <%= link_to "CREATE FREE ACCOUNT", new_user_registration_path, class: "btn2 btn-success-2" %>
</div>
