<h3 class="text-center">Drills Group</h3>
  <hr>

<div>
  <% @groups.each do |group| %>
    <%= link_to group.name, group_path(group)%>
    <%= link_to fa_icon("pencil-square-o"), edit_group_path(group), class: "icon-big" %>
    <%= link_to fa_icon("trash-o"), group_path(group), method: :delete,
              class: "icon-big", data: {confirm: "Are you sure ?"}%>
  <hr>
  <% end%>
</div>

<div class="">
  <%= link_to "Create a new group", new_group_path, class: "btn2 btn-success" %>
</div>
