<h2 class="text-center">Drillz Group</h2>
<br>

<table class="table table-striped">
  <tbody>


  <% @groups.each do |group| %>
    <tr>
      <td> <%= link_to group.name, group_path(group)%> </td>
      <td style="text-align: right">
        <%= link_to fa_icon("pencil-square-o"), edit_group_path(group), class: "icon-big" %>
        <%= link_to fa_icon("trash-o"), group_path(group), method: :delete,
                  class: "icon-big", data: {confirm: "Are you sure ?"}%>
      </td>
    </tr>
  <% end%>

  </tbody>
</table>

<div class="text-right">
  <%= link_to "Create a new group", new_group_path, class: "btn2 btn-success" %>
</div>
