<h1>Drill Group: <%= @group.name%></h1>
<div>
  <%= link_to "Edit", edit_group_path(@group), class: "" %>
</div>
<h2>Drills for rails basic routing</h2>

<p><%= @group.description%></p>
<p><%= @group.category.inspect%></p>
