<h2>Drill Group - <%= @group.name%></h2>

<% @group.categories.each do |cat| %>
	<%= cat.title%>
<% end %>

<p class="text-right">

<%= link_to fa_icon("pencil-square-o"), edit_group_path(@group), class: "icon-big" %>
<%= link_to fa_icon("trash-o"), group_path(@group), method: :delete, class: "icon-big",
                                                  data: {confirm: "Are you sure ?"} %>
</p>
