<h2>Drill Group: <%= @group.name %></h2>
<div>
    Drill: <%= @drill.description %>
    <br>
    Real Answer:
      <% @drill.solutions.each do |solution| %>
        <br>
        <li>
          <%= solution.correct_answer %>
        </li>
      <% end %>
</div>

<div>
  <%= button_to "Next Drill", [@group, @drill], remote: true %>
</div>
